.header {
  height: 40%;
  margin-bottom: 1%;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.active {
  font-weight: bold;
  border-bottom: 2px solid; 
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none;
  padding: 0.5rem;
  display: inline-block;
  transition: all 0.2s;
  color: #1a1b1e; /* color gris oscuro, puedes cambiarlo */
}

.link:hover {
  color: #1c7ed6;
}

.linkLabel {
  margin-right: 5px;
}

.logoLink {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.logoText {
  font-size: 20px;
  font-weight: 600;
  color: #1a1b1e; /* color oscuro, puedes cambiarlo */
}
